<!DOCTYPE html>
<html lang="zh-CN">
    <head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/sy.css">
    </head>
    <body>
        <script>
        window.alert('欢迎来到WR团队官网');
        </script>
        <div class="text"; id="exampel">
    <ul>
    <li><a href="/gd", class="a">更多</a></li>
    <li><a href="/gy", class="a">关于</a></li>
    <li><a href="/mx", class="a">鸣谢</a></li>
    <li><a href="/gz", class="a">关注</a></li>
    <li><a href="/home", class="a">首页</a></li>
    <div class='text1'>
    <img src="../static/image/log-koutu.png">
    </div>
    <div class="text2"><h1>我的世界启动器:</h1><br>
    <img src="" alt=""><a href="/PCL"><button>PCL2</button></a><br>
    <a href="https://hmcl.huangyuhui.net/" target="_blank"><button>HMCL(若无法打开请前往github进行下载或找团队长咨询)</button></a><br>
    <a href="https://foldcraftlauncher.cn/" target="_blank"><button>fcl镜像下载（手机启动器，官方版较为麻烦）</button></a><br>
    <a href="https://www.minecraft.net"target="_blank"><button>minecraft官网</button></a><br>
    <a href="https://mc.163.com/"><button>网易版官网（WR团队暂时未开放此圈子）</button></a>
    </div>
    <h2>WR团队图片集：</h2><img src="../static/image/1.png" alt="头像" style="width: 300px;height: 300px;">
    <img src="../static/image/log-koutu.png" alt="logo" style="width: 300px;height: 300px;">
    <img src="../static/image/minecraft.png" alt="minecraft壁纸" style="width: 300px;height: 300px;">

    
    </body>
</html>