<!DOCTYPE html>
<html lang="zh-CN">
    <head>
    <meta charset="UTF-8">
    <title>PCL下载</title>
    <link rel="stylesheet" href="../static/css/PCL.css">
    </head>
    <body>
    <a href="/sy"><img src="../static/image/无标题.png" alt="返回" style="width: 100px; height: 100px;"></a>
    <div>
    <button><a href="https://pan.q%75ark.cn/s/cb915afd9a91" target="_blank" style="color: aqua; border-color: aqua;">夸克下载地址1</a></button>
    <button><a href="https://pan.xunlei.com/s/VO_leMclUGQL1OOKN1HCGssXA1?pwd=ktvg" target="_blank" style="color: aqua; border-color: aqua;">夸克下载地址2</a></button>
    <button><a href="https://ltcat.l%61nzouv.com/b0aj6gsid" target="_blank" style="color: aqua; border-color: aqua;">备用蓝奏云地址(提取码:pcl2)</a></button><br>
    <button><a href="../static/yingyong/PCL 正式版 2.13.1.1" download="example.pdf" style="color: aqua; border-color: aqua;">直接下载</a></button>
    <a href="https://afdian.com/a/LTCat" target="_blank" style="color: aqua; border-color: aqua;"><button>前往龙腾猫跃爱发电</button></a>
    
    </div>
    </body>
</html>